body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:360px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u284_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:364px;
}
#u284 {
  position:absolute;
  left:0px;
  top:238px;
  width:360px;
  height:364px;
}
#u285 {
  position:absolute;
  left:2px;
  top:174px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u286_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:11px;
}
#u286 {
  position:absolute;
  left:264px;
  top:11px;
  width:8px;
  height:11px;
}
#u287 {
  position:absolute;
  left:2px;
  top:-2px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u288 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u289_div {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:9px;
  color:#FFFFFF;
}
#u289 {
  position:absolute;
  left:36px;
  top:10px;
  width:19px;
  height:14px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:9px;
  color:#FFFFFF;
}
#u290 {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u291_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u291 {
  position:absolute;
  left:58px;
  top:14px;
  width:6px;
  height:6px;
  -webkit-transform:rotate(225deg);
  -moz-transform:rotate(225deg);
  -ms-transform:rotate(225deg);
  transform:rotate(225deg);
  opacity:0.5;
}
#u292 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u293_div {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:156px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u293 {
  position:absolute;
  left:0px;
  top:315px;
  width:233px;
  height:156px;
  opacity:0.5;
}
#u294 {
  position:absolute;
  left:2px;
  top:70px;
  width:229px;
  visibility:hidden;
  word-wrap:break-word;
}
#u295 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:190px;
  overflow:hidden;
}
#u295_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:190px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u295_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u296_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:190px;
}
#u296 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:190px;
}
#u297 {
  position:absolute;
  left:2px;
  top:87px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u295_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:190px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u295_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u298_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:190px;
}
#u298 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:190px;
}
#u299 {
  position:absolute;
  left:2px;
  top:87px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u295_state2 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:190px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u295_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u300_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:190px;
}
#u300 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:190px;
}
#u301 {
  position:absolute;
  left:2px;
  top:87px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u295_state3 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:190px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u295_state3_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u302_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:190px;
}
#u302 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:190px;
}
#u303 {
  position:absolute;
  left:2px;
  top:87px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u304_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:9px;
  color:#40220F;
}
#u304 {
  position:absolute;
  left:150px;
  top:209px;
  width:37px;
  height:14px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:9px;
  color:#40220F;
}
#u305 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u306_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:6px;
}
#u306 {
  position:absolute;
  left:115px;
  top:222px;
  width:117px;
  height:6px;
}
#u307 {
  position:absolute;
  left:2px;
  top:-5px;
  width:113px;
  visibility:hidden;
  word-wrap:break-word;
}
#u308_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u308 {
  position:absolute;
  left:72px;
  top:157px;
  width:48px;
  height:48px;
}
#u309 {
  position:absolute;
  left:2px;
  top:16px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u310_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u310 {
  position:absolute;
  left:149px;
  top:157px;
  width:48px;
  height:48px;
}
#u311 {
  position:absolute;
  left:2px;
  top:16px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u312_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u312 {
  position:absolute;
  left:226px;
  top:157px;
  width:48px;
  height:48px;
}
#u313 {
  position:absolute;
  left:2px;
  top:16px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u314_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u314 {
  position:absolute;
  left:83px;
  top:173px;
  width:25px;
  height:17px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u315 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u316_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u316 {
  position:absolute;
  left:161px;
  top:173px;
  width:25px;
  height:17px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u317 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u318_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u318 {
  position:absolute;
  left:237px;
  top:173px;
  width:25px;
  height:17px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u319 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u320_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'造字工房尚黑 G0v1 粗体 粗体', '造字工房尚黑 G0v1 粗体';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u320 {
  position:absolute;
  left:89px;
  top:352px;
  width:71px;
  height:18px;
  font-family:'造字工房尚黑 G0v1 粗体 粗体', '造字工房尚黑 G0v1 粗体';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u321 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u322_div {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'造字工房尚黑 G0v1 粗体 粗体', '造字工房尚黑 G0v1 粗体';
  font-weight:400;
  font-style:normal;
  font-size:7px;
  color:#C9CACA;
}
#u322 {
  position:absolute;
  left:25px;
  top:385px;
  width:198px;
  height:32px;
  font-family:'造字工房尚黑 G0v1 粗体 粗体', '造字工房尚黑 G0v1 粗体';
  font-weight:400;
  font-style:normal;
  font-size:7px;
  color:#C9CACA;
}
#u323 {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  word-wrap:break-word;
}
#u324_div {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'造字工房尚黑 G0v1 粗体 粗体', '造字工房尚黑 G0v1 粗体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u324 {
  position:absolute;
  left:5px;
  top:447px;
  width:23px;
  height:18px;
  font-family:'造字工房尚黑 G0v1 粗体 粗体', '造字工房尚黑 G0v1 粗体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u325 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u326_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:37px;
}
#u326 {
  position:absolute;
  left:181px;
  top:314px;
  width:42px;
  height:37px;
}
#u327 {
  position:absolute;
  left:2px;
  top:10px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u328 {
  position:absolute;
  left:0px;
  top:315px;
  width:233px;
  height:156px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u329 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u330_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:33px;
}
#u330 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:33px;
  opacity:0.2;
}
#u331 {
  position:absolute;
  left:2px;
  top:8px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u332_div {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u332 {
  position:absolute;
  left:98px;
  top:7px;
  width:178px;
  height:19px;
  opacity:0.4;
}
#u333 {
  position:absolute;
  left:2px;
  top:2px;
  width:174px;
  visibility:hidden;
  word-wrap:break-word;
}
#u334_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:11px;
}
#u334 {
  position:absolute;
  left:264px;
  top:11px;
  width:8px;
  height:11px;
}
#u335 {
  position:absolute;
  left:2px;
  top:-2px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u336_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u336 {
  position:absolute;
  left:103px;
  top:11px;
  width:12px;
  height:12px;
}
#u337 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u338 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u339_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u339 {
  position:absolute;
  left:330px;
  top:9px;
  width:15px;
  height:15px;
}
#u340 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u341_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:1px;
}
#u341 {
  position:absolute;
  left:330px;
  top:16px;
  width:15px;
  height:1px;
}
#u342 {
  position:absolute;
  left:2px;
  top:-8px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u343 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u344_div {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:9px;
  color:#FFFFFF;
}
#u344 {
  position:absolute;
  left:36px;
  top:10px;
  width:19px;
  height:14px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:9px;
  color:#FFFFFF;
}
#u345 {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u346_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u346 {
  position:absolute;
  left:58px;
  top:14px;
  width:6px;
  height:6px;
  -webkit-transform:rotate(225deg);
  -moz-transform:rotate(225deg);
  -ms-transform:rotate(225deg);
  transform:rotate(225deg);
  opacity:0.5;
}
#u347 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u348 {
  position:absolute;
  left:121px;
  top:8px;
  width:140px;
  height:18px;
}
#u348_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:18px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:9px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:center;
  border-color:transparent;
  outline-style:none;
}
#u349 {
  position:absolute;
  left:31px;
  top:7px;
  width:38px;
  height:24px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u351_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:-5px -2px 3px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:-5px -2px 3px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:-5px -2px 3px rgba(0, 0, 0, 0.349019607843137);
}
#u351 {
  position:absolute;
  left:0px;
  top:601px;
  width:360px;
  height:39px;
}
#u352 {
  position:absolute;
  left:2px;
  top:12px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u353_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:17px;
}
#u353 {
  position:absolute;
  left:25px;
  top:605px;
  width:15px;
  height:17px;
}
#u354 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u355_div {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'造字工房尚黑 G0v1 常规体 常规体', '造字工房尚黑 G0v1 常规体';
  font-weight:400;
  font-style:normal;
  font-size:9px;
  color:#40220F;
}
#u355 {
  position:absolute;
  left:21px;
  top:619px;
  width:23px;
  height:16px;
  font-family:'造字工房尚黑 G0v1 常规体 常规体', '造字工房尚黑 G0v1 常规体';
  font-weight:400;
  font-style:normal;
  font-size:9px;
  color:#40220F;
}
#u356 {
  position:absolute;
  left:2px;
  top:2px;
  width:19px;
  white-space:nowrap;
}
#u357_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:15px;
}
#u357 {
  position:absolute;
  left:90px;
  top:607px;
  width:18px;
  height:15px;
}
#u358 {
  position:absolute;
  left:2px;
  top:0px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u359_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:15px;
}
#u359 {
  position:absolute;
  left:247px;
  top:607px;
  width:20px;
  height:15px;
}
#u360 {
  position:absolute;
  left:2px;
  top:0px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u361_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:15px;
}
#u361 {
  position:absolute;
  left:324px;
  top:607px;
  width:10px;
  height:15px;
}
#u362 {
  position:absolute;
  left:2px;
  top:0px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u363_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u363 {
  position:absolute;
  left:161px;
  top:598px;
  width:48px;
  height:48px;
}
#u364 {
  position:absolute;
  left:2px;
  top:16px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u365_div {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'造字工房尚黑 G0v1 常规体 常规体', '造字工房尚黑 G0v1 常规体';
  font-weight:400;
  font-style:normal;
  font-size:9px;
  color:#40220F;
}
#u365 {
  position:absolute;
  left:88px;
  top:621px;
  width:23px;
  height:16px;
  font-family:'造字工房尚黑 G0v1 常规体 常规体', '造字工房尚黑 G0v1 常规体';
  font-weight:400;
  font-style:normal;
  font-size:9px;
  color:#40220F;
}
#u366 {
  position:absolute;
  left:2px;
  top:2px;
  width:19px;
  white-space:nowrap;
}
#u367_div {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'造字工房尚黑 G0v1 常规体 常规体', '造字工房尚黑 G0v1 常规体';
  font-weight:400;
  font-style:normal;
  font-size:9px;
  color:#40220F;
}
#u367 {
  position:absolute;
  left:244px;
  top:621px;
  width:32px;
  height:16px;
  font-family:'造字工房尚黑 G0v1 常规体 常规体', '造字工房尚黑 G0v1 常规体';
  font-weight:400;
  font-style:normal;
  font-size:9px;
  color:#40220F;
}
#u368 {
  position:absolute;
  left:2px;
  top:2px;
  width:28px;
  white-space:nowrap;
}
#u369_div {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'造字工房尚黑 G0v1 常规体 常规体', '造字工房尚黑 G0v1 常规体';
  font-weight:400;
  font-style:normal;
  font-size:9px;
  color:#40220F;
}
#u369 {
  position:absolute;
  left:318px;
  top:621px;
  width:23px;
  height:16px;
  font-family:'造字工房尚黑 G0v1 常规体 常规体', '造字工房尚黑 G0v1 常规体';
  font-weight:400;
  font-style:normal;
  font-size:9px;
  color:#40220F;
}
#u370 {
  position:absolute;
  left:2px;
  top:2px;
  width:19px;
  white-space:nowrap;
}
#u371_img {
  position:absolute;
  left:-5px;
  top:-7px;
  width:54px;
  height:29px;
}
#u371 {
  position:absolute;
  left:165px;
  top:613px;
  width:44px;
  height:19px;
  font-family:'造字工房尚黑 G0v1 常规体 常规体', '造字工房尚黑 G0v1 常规体';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u372 {
  position:absolute;
  left:2px;
  top:2px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u373 {
  position:absolute;
  left:21px;
  top:605px;
  width:23px;
  height:29px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u374 {
  position:absolute;
  left:88px;
  top:605px;
  width:23px;
  height:29px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u375 {
  position:absolute;
  left:165px;
  top:605px;
  width:44px;
  height:31px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u376 {
  position:absolute;
  left:246px;
  top:605px;
  width:26px;
  height:29px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u377 {
  position:absolute;
  left:319px;
  top:607px;
  width:19px;
  height:29px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
