body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:360px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u378_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:364px;
}
#u378 {
  position:absolute;
  left:0px;
  top:238px;
  width:360px;
  height:364px;
}
#u379 {
  position:absolute;
  left:2px;
  top:174px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u380_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:11px;
}
#u380 {
  position:absolute;
  left:264px;
  top:11px;
  width:8px;
  height:11px;
}
#u381 {
  position:absolute;
  left:2px;
  top:-2px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u382 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u383_div {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:9px;
  color:#FFFFFF;
}
#u383 {
  position:absolute;
  left:36px;
  top:10px;
  width:19px;
  height:14px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:9px;
  color:#FFFFFF;
}
#u384 {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u385_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u385 {
  position:absolute;
  left:58px;
  top:14px;
  width:6px;
  height:6px;
  -webkit-transform:rotate(225deg);
  -moz-transform:rotate(225deg);
  -ms-transform:rotate(225deg);
  transform:rotate(225deg);
  opacity:0.5;
}
#u386 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u387_div {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:156px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u387 {
  position:absolute;
  left:0px;
  top:315px;
  width:233px;
  height:156px;
  opacity:0.5;
}
#u388 {
  position:absolute;
  left:2px;
  top:70px;
  width:229px;
  visibility:hidden;
  word-wrap:break-word;
}
#u389 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:190px;
  overflow:hidden;
}
#u389_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:190px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u389_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u390_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:190px;
}
#u390 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:190px;
}
#u391 {
  position:absolute;
  left:2px;
  top:87px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u389_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:190px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u389_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u392_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:190px;
}
#u392 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:190px;
}
#u393 {
  position:absolute;
  left:2px;
  top:87px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u389_state2 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:190px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u389_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u394_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:190px;
}
#u394 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:190px;
}
#u395 {
  position:absolute;
  left:2px;
  top:87px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u389_state3 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:190px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u389_state3_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u396_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:190px;
}
#u396 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:190px;
}
#u397 {
  position:absolute;
  left:2px;
  top:87px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u398_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:9px;
  color:#40220F;
}
#u398 {
  position:absolute;
  left:150px;
  top:209px;
  width:37px;
  height:14px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:9px;
  color:#40220F;
}
#u399 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u400_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:6px;
}
#u400 {
  position:absolute;
  left:115px;
  top:222px;
  width:117px;
  height:6px;
}
#u401 {
  position:absolute;
  left:2px;
  top:-5px;
  width:113px;
  visibility:hidden;
  word-wrap:break-word;
}
#u402_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u402 {
  position:absolute;
  left:72px;
  top:157px;
  width:48px;
  height:48px;
}
#u403 {
  position:absolute;
  left:2px;
  top:16px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u404_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u404 {
  position:absolute;
  left:149px;
  top:157px;
  width:48px;
  height:48px;
}
#u405 {
  position:absolute;
  left:2px;
  top:16px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u406_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u406 {
  position:absolute;
  left:226px;
  top:157px;
  width:48px;
  height:48px;
}
#u407 {
  position:absolute;
  left:2px;
  top:16px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u408_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u408 {
  position:absolute;
  left:83px;
  top:173px;
  width:25px;
  height:17px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u409 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u410_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u410 {
  position:absolute;
  left:161px;
  top:173px;
  width:25px;
  height:17px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u411 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u412_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u412 {
  position:absolute;
  left:237px;
  top:173px;
  width:25px;
  height:17px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u413 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u414_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'造字工房尚黑 G0v1 粗体 粗体', '造字工房尚黑 G0v1 粗体';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u414 {
  position:absolute;
  left:95px;
  top:352px;
  width:43px;
  height:18px;
  font-family:'造字工房尚黑 G0v1 粗体 粗体', '造字工房尚黑 G0v1 粗体';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u415 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u416_div {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'造字工房尚黑 G0v1 粗体 粗体', '造字工房尚黑 G0v1 粗体';
  font-weight:400;
  font-style:normal;
  font-size:7px;
  color:#C9CACA;
}
#u416 {
  position:absolute;
  left:25px;
  top:385px;
  width:198px;
  height:32px;
  font-family:'造字工房尚黑 G0v1 粗体 粗体', '造字工房尚黑 G0v1 粗体';
  font-weight:400;
  font-style:normal;
  font-size:7px;
  color:#C9CACA;
}
#u417 {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  word-wrap:break-word;
}
#u418_div {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'造字工房尚黑 G0v1 粗体 粗体', '造字工房尚黑 G0v1 粗体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u418 {
  position:absolute;
  left:5px;
  top:447px;
  width:23px;
  height:18px;
  font-family:'造字工房尚黑 G0v1 粗体 粗体', '造字工房尚黑 G0v1 粗体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u419 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u420_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:37px;
}
#u420 {
  position:absolute;
  left:181px;
  top:314px;
  width:42px;
  height:37px;
}
#u421 {
  position:absolute;
  left:2px;
  top:10px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u422 {
  position:absolute;
  left:0px;
  top:315px;
  width:233px;
  height:156px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u423 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u424_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:33px;
}
#u424 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:33px;
  opacity:0.2;
}
#u425 {
  position:absolute;
  left:2px;
  top:8px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u426_div {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u426 {
  position:absolute;
  left:98px;
  top:7px;
  width:178px;
  height:19px;
  opacity:0.4;
}
#u427 {
  position:absolute;
  left:2px;
  top:2px;
  width:174px;
  visibility:hidden;
  word-wrap:break-word;
}
#u428_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:11px;
}
#u428 {
  position:absolute;
  left:264px;
  top:11px;
  width:8px;
  height:11px;
}
#u429 {
  position:absolute;
  left:2px;
  top:-2px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u430_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u430 {
  position:absolute;
  left:103px;
  top:11px;
  width:12px;
  height:12px;
}
#u431 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u432 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u433_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u433 {
  position:absolute;
  left:330px;
  top:9px;
  width:15px;
  height:15px;
}
#u434 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u435_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:1px;
}
#u435 {
  position:absolute;
  left:330px;
  top:16px;
  width:15px;
  height:1px;
}
#u436 {
  position:absolute;
  left:2px;
  top:-8px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u437 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u438_div {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:9px;
  color:#FFFFFF;
}
#u438 {
  position:absolute;
  left:36px;
  top:10px;
  width:19px;
  height:14px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:9px;
  color:#FFFFFF;
}
#u439 {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u440_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u440 {
  position:absolute;
  left:58px;
  top:14px;
  width:6px;
  height:6px;
  -webkit-transform:rotate(225deg);
  -moz-transform:rotate(225deg);
  -ms-transform:rotate(225deg);
  transform:rotate(225deg);
  opacity:0.5;
}
#u441 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u442 {
  position:absolute;
  left:121px;
  top:8px;
  width:140px;
  height:18px;
}
#u442_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:18px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:9px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:center;
  border-color:transparent;
  outline-style:none;
}
#u443 {
  position:absolute;
  left:25px;
  top:4px;
  width:45px;
  height:27px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u445_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:-5px -2px 3px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:-5px -2px 3px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:-5px -2px 3px rgba(0, 0, 0, 0.349019607843137);
}
#u445 {
  position:absolute;
  left:0px;
  top:601px;
  width:360px;
  height:39px;
}
#u446 {
  position:absolute;
  left:2px;
  top:12px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u447_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:17px;
}
#u447 {
  position:absolute;
  left:25px;
  top:605px;
  width:15px;
  height:17px;
}
#u448 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u449_div {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'造字工房尚黑 G0v1 常规体 常规体', '造字工房尚黑 G0v1 常规体';
  font-weight:400;
  font-style:normal;
  font-size:9px;
  color:#40220F;
}
#u449 {
  position:absolute;
  left:21px;
  top:619px;
  width:23px;
  height:16px;
  font-family:'造字工房尚黑 G0v1 常规体 常规体', '造字工房尚黑 G0v1 常规体';
  font-weight:400;
  font-style:normal;
  font-size:9px;
  color:#40220F;
}
#u450 {
  position:absolute;
  left:2px;
  top:2px;
  width:19px;
  white-space:nowrap;
}
#u451_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:15px;
}
#u451 {
  position:absolute;
  left:90px;
  top:607px;
  width:18px;
  height:15px;
}
#u452 {
  position:absolute;
  left:2px;
  top:0px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u453_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:15px;
}
#u453 {
  position:absolute;
  left:247px;
  top:607px;
  width:20px;
  height:15px;
}
#u454 {
  position:absolute;
  left:2px;
  top:0px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u455_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:15px;
}
#u455 {
  position:absolute;
  left:324px;
  top:607px;
  width:10px;
  height:15px;
}
#u456 {
  position:absolute;
  left:2px;
  top:0px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u457_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u457 {
  position:absolute;
  left:161px;
  top:598px;
  width:48px;
  height:48px;
}
#u458 {
  position:absolute;
  left:2px;
  top:16px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u459_div {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'造字工房尚黑 G0v1 常规体 常规体', '造字工房尚黑 G0v1 常规体';
  font-weight:400;
  font-style:normal;
  font-size:9px;
  color:#40220F;
}
#u459 {
  position:absolute;
  left:88px;
  top:621px;
  width:23px;
  height:16px;
  font-family:'造字工房尚黑 G0v1 常规体 常规体', '造字工房尚黑 G0v1 常规体';
  font-weight:400;
  font-style:normal;
  font-size:9px;
  color:#40220F;
}
#u460 {
  position:absolute;
  left:2px;
  top:2px;
  width:19px;
  white-space:nowrap;
}
#u461_div {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'造字工房尚黑 G0v1 常规体 常规体', '造字工房尚黑 G0v1 常规体';
  font-weight:400;
  font-style:normal;
  font-size:9px;
  color:#40220F;
}
#u461 {
  position:absolute;
  left:244px;
  top:621px;
  width:32px;
  height:16px;
  font-family:'造字工房尚黑 G0v1 常规体 常规体', '造字工房尚黑 G0v1 常规体';
  font-weight:400;
  font-style:normal;
  font-size:9px;
  color:#40220F;
}
#u462 {
  position:absolute;
  left:2px;
  top:2px;
  width:28px;
  white-space:nowrap;
}
#u463_div {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'造字工房尚黑 G0v1 常规体 常规体', '造字工房尚黑 G0v1 常规体';
  font-weight:400;
  font-style:normal;
  font-size:9px;
  color:#40220F;
}
#u463 {
  position:absolute;
  left:318px;
  top:621px;
  width:23px;
  height:16px;
  font-family:'造字工房尚黑 G0v1 常规体 常规体', '造字工房尚黑 G0v1 常规体';
  font-weight:400;
  font-style:normal;
  font-size:9px;
  color:#40220F;
}
#u464 {
  position:absolute;
  left:2px;
  top:2px;
  width:19px;
  white-space:nowrap;
}
#u465_img {
  position:absolute;
  left:-5px;
  top:-7px;
  width:54px;
  height:29px;
}
#u465 {
  position:absolute;
  left:165px;
  top:613px;
  width:44px;
  height:19px;
  font-family:'造字工房尚黑 G0v1 常规体 常规体', '造字工房尚黑 G0v1 常规体';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u466 {
  position:absolute;
  left:2px;
  top:2px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u467 {
  position:absolute;
  left:21px;
  top:605px;
  width:23px;
  height:29px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u468 {
  position:absolute;
  left:88px;
  top:605px;
  width:23px;
  height:29px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u469 {
  position:absolute;
  left:165px;
  top:605px;
  width:44px;
  height:31px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u470 {
  position:absolute;
  left:246px;
  top:605px;
  width:26px;
  height:29px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u471 {
  position:absolute;
  left:319px;
  top:607px;
  width:19px;
  height:29px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
