body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:360px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u645_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(119, 119, 119, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u645 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u646 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u647_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:11px;
}
#u647 {
  position:absolute;
  left:257px;
  top:10px;
  width:8px;
  height:11px;
}
#u648 {
  position:absolute;
  left:2px;
  top:-2px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u649 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u650_div {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:9px;
  color:#FFFFFF;
}
#u650 {
  position:absolute;
  left:29px;
  top:9px;
  width:19px;
  height:14px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:9px;
  color:#FFFFFF;
}
#u651 {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u652_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u652 {
  position:absolute;
  left:51px;
  top:13px;
  width:6px;
  height:6px;
  -webkit-transform:rotate(225deg);
  -moz-transform:rotate(225deg);
  -ms-transform:rotate(225deg);
  transform:rotate(225deg);
  opacity:0.5;
}
#u653 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u654_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:33px;
  background:inherit;
  background-color:rgba(64, 34, 15, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u654 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:33px;
}
#u655 {
  position:absolute;
  left:2px;
  top:8px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u656_div {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u656 {
  position:absolute;
  left:91px;
  top:6px;
  width:178px;
  height:19px;
  opacity:0.4;
}
#u657 {
  position:absolute;
  left:2px;
  top:2px;
  width:174px;
  visibility:hidden;
  word-wrap:break-word;
}
#u658_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:11px;
}
#u658 {
  position:absolute;
  left:257px;
  top:10px;
  width:8px;
  height:11px;
}
#u659 {
  position:absolute;
  left:2px;
  top:-2px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u660_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u660 {
  position:absolute;
  left:96px;
  top:10px;
  width:12px;
  height:12px;
}
#u661 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u662 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u663_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u663 {
  position:absolute;
  left:323px;
  top:8px;
  width:15px;
  height:15px;
}
#u664 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u665_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:1px;
}
#u665 {
  position:absolute;
  left:323px;
  top:15px;
  width:15px;
  height:1px;
}
#u666 {
  position:absolute;
  left:2px;
  top:-8px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u667 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u668_div {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:9px;
  color:#FFFFFF;
}
#u668 {
  position:absolute;
  left:29px;
  top:9px;
  width:19px;
  height:14px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:9px;
  color:#FFFFFF;
}
#u669 {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u670_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u670 {
  position:absolute;
  left:51px;
  top:13px;
  width:6px;
  height:6px;
  -webkit-transform:rotate(225deg);
  -moz-transform:rotate(225deg);
  -ms-transform:rotate(225deg);
  transform:rotate(225deg);
  opacity:0.5;
}
#u671 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u672 {
  position:absolute;
  left:114px;
  top:7px;
  width:140px;
  height:18px;
}
#u672_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:18px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:9px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:center;
  border-color:transparent;
  outline-style:none;
}
#u673 {
  position:absolute;
  left:29px;
  top:12px;
  width:29px;
  height:11px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u674_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:-5px -2px 3px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:-5px -2px 3px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:-5px -2px 3px rgba(0, 0, 0, 0.349019607843137);
}
#u674 {
  position:absolute;
  left:0px;
  top:601px;
  width:360px;
  height:39px;
}
#u675 {
  position:absolute;
  left:2px;
  top:12px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u676_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:17px;
}
#u676 {
  position:absolute;
  left:25px;
  top:605px;
  width:15px;
  height:17px;
}
#u677 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u678_div {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'造字工房尚黑 G0v1 常规体 常规体', '造字工房尚黑 G0v1 常规体';
  font-weight:400;
  font-style:normal;
  font-size:9px;
  color:#40220F;
}
#u678 {
  position:absolute;
  left:21px;
  top:620px;
  width:23px;
  height:14px;
  font-family:'造字工房尚黑 G0v1 常规体 常规体', '造字工房尚黑 G0v1 常规体';
  font-weight:400;
  font-style:normal;
  font-size:9px;
  color:#40220F;
}
#u679 {
  position:absolute;
  left:2px;
  top:1px;
  width:19px;
  white-space:nowrap;
}
#u680_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:15px;
}
#u680 {
  position:absolute;
  left:90px;
  top:607px;
  width:18px;
  height:15px;
}
#u681 {
  position:absolute;
  left:2px;
  top:0px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u682_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:15px;
}
#u682 {
  position:absolute;
  left:230px;
  top:607px;
  width:20px;
  height:15px;
}
#u683 {
  position:absolute;
  left:2px;
  top:0px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u684_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:15px;
}
#u684 {
  position:absolute;
  left:324px;
  top:607px;
  width:10px;
  height:15px;
}
#u685 {
  position:absolute;
  left:2px;
  top:0px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u686_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u686 {
  position:absolute;
  left:148px;
  top:598px;
  width:48px;
  height:48px;
}
#u687 {
  position:absolute;
  left:2px;
  top:16px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u688_div {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'造字工房尚黑 G0v1 常规体 常规体', '造字工房尚黑 G0v1 常规体';
  font-weight:400;
  font-style:normal;
  font-size:9px;
  color:#40220F;
}
#u688 {
  position:absolute;
  left:88px;
  top:622px;
  width:23px;
  height:14px;
  font-family:'造字工房尚黑 G0v1 常规体 常规体', '造字工房尚黑 G0v1 常规体';
  font-weight:400;
  font-style:normal;
  font-size:9px;
  color:#40220F;
}
#u689 {
  position:absolute;
  left:2px;
  top:1px;
  width:19px;
  white-space:nowrap;
}
#u690_div {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'造字工房尚黑 G0v1 常规体 常规体', '造字工房尚黑 G0v1 常规体';
  font-weight:400;
  font-style:normal;
  font-size:9px;
  color:#40220F;
}
#u690 {
  position:absolute;
  left:227px;
  top:622px;
  width:32px;
  height:14px;
  font-family:'造字工房尚黑 G0v1 常规体 常规体', '造字工房尚黑 G0v1 常规体';
  font-weight:400;
  font-style:normal;
  font-size:9px;
  color:#40220F;
}
#u691 {
  position:absolute;
  left:2px;
  top:1px;
  width:28px;
  white-space:nowrap;
}
#u692_div {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'造字工房尚黑 G0v1 常规体 常规体', '造字工房尚黑 G0v1 常规体';
  font-weight:400;
  font-style:normal;
  font-size:9px;
  color:#40220F;
}
#u692 {
  position:absolute;
  left:318px;
  top:622px;
  width:23px;
  height:14px;
  font-family:'造字工房尚黑 G0v1 常规体 常规体', '造字工房尚黑 G0v1 常规体';
  font-weight:400;
  font-style:normal;
  font-size:9px;
  color:#40220F;
}
#u693 {
  position:absolute;
  left:2px;
  top:1px;
  width:19px;
  white-space:nowrap;
}
#u694_img {
  position:absolute;
  left:-5px;
  top:-7px;
  width:54px;
  height:29px;
}
#u694 {
  position:absolute;
  left:152px;
  top:613px;
  width:44px;
  height:19px;
  font-family:'造字工房尚黑 G0v1 常规体 常规体', '造字工房尚黑 G0v1 常规体';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u695 {
  position:absolute;
  left:2px;
  top:2px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u696 {
  position:absolute;
  left:0px;
  top:33px;
  width:360px;
  height:565px;
  overflow:hidden;
  touch-action:none;
}
#u696_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:565px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u696_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u697_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:1172px;
}
#u697 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:1172px;
}
#u698 {
  position:absolute;
  left:2px;
  top:578px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u699 {
  position:absolute;
  left:21px;
  top:605px;
  width:20px;
  height:29px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u700 {
  position:absolute;
  left:88px;
  top:607px;
  width:20px;
  height:29px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u701 {
  position:absolute;
  left:152px;
  top:605px;
  width:44px;
  height:31px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u702 {
  position:absolute;
  left:230px;
  top:607px;
  width:29px;
  height:29px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u703 {
  position:absolute;
  left:318px;
  top:607px;
  width:23px;
  height:29px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
