body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:360px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u103_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u103 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u104 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u105 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:190px;
  overflow:hidden;
}
#u105_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:190px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u105_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:190px;
}
#u106 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:190px;
}
#u107 {
  position:absolute;
  left:2px;
  top:87px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u105_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:190px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u105_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:190px;
}
#u108 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:190px;
}
#u109 {
  position:absolute;
  left:2px;
  top:87px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u105_state2 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:190px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u105_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:190px;
}
#u110 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:190px;
}
#u111 {
  position:absolute;
  left:2px;
  top:87px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u112 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:33px;
}
#u113 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:33px;
  opacity:0.2;
}
#u114 {
  position:absolute;
  left:2px;
  top:8px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u115_div {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u115 {
  position:absolute;
  left:98px;
  top:7px;
  width:178px;
  height:19px;
  opacity:0.4;
}
#u116 {
  position:absolute;
  left:2px;
  top:2px;
  width:174px;
  visibility:hidden;
  word-wrap:break-word;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:11px;
}
#u117 {
  position:absolute;
  left:264px;
  top:11px;
  width:8px;
  height:11px;
}
#u118 {
  position:absolute;
  left:2px;
  top:-2px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u119 {
  position:absolute;
  left:103px;
  top:11px;
  width:12px;
  height:12px;
}
#u120 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u121 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u122 {
  position:absolute;
  left:330px;
  top:9px;
  width:15px;
  height:15px;
}
#u123 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:1px;
}
#u124 {
  position:absolute;
  left:330px;
  top:16px;
  width:15px;
  height:1px;
}
#u125 {
  position:absolute;
  left:2px;
  top:-8px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u126 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u127_div {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:9px;
  color:#FFFFFF;
}
#u127 {
  position:absolute;
  left:36px;
  top:10px;
  width:19px;
  height:14px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:9px;
  color:#FFFFFF;
}
#u128 {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u129 {
  position:absolute;
  left:58px;
  top:14px;
  width:6px;
  height:6px;
  -webkit-transform:rotate(225deg);
  -moz-transform:rotate(225deg);
  -ms-transform:rotate(225deg);
  transform:rotate(225deg);
  opacity:0.5;
}
#u130 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u131_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:9px;
  color:#40220F;
}
#u131 {
  position:absolute;
  left:161px;
  top:211px;
  width:37px;
  height:14px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:9px;
  color:#40220F;
}
#u132 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:6px;
}
#u133 {
  position:absolute;
  left:126px;
  top:224px;
  width:117px;
  height:6px;
}
#u134 {
  position:absolute;
  left:2px;
  top:-5px;
  width:113px;
  visibility:hidden;
  word-wrap:break-word;
}
#u135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:63px;
}
#u135 {
  position:absolute;
  left:16px;
  top:238px;
  width:100px;
  height:63px;
}
#u136 {
  position:absolute;
  left:2px;
  top:24px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:63px;
}
#u137 {
  position:absolute;
  left:130px;
  top:238px;
  width:100px;
  height:63px;
}
#u138 {
  position:absolute;
  left:2px;
  top:24px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u139_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:63px;
}
#u139 {
  position:absolute;
  left:243px;
  top:238px;
  width:100px;
  height:63px;
}
#u140 {
  position:absolute;
  left:2px;
  top:24px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:135px;
}
#u141 {
  position:absolute;
  left:16px;
  top:308px;
  width:327px;
  height:135px;
}
#u142 {
  position:absolute;
  left:2px;
  top:60px;
  width:323px;
  visibility:hidden;
  word-wrap:break-word;
}
#u143_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:142px;
  background:inherit;
  background-color:rgba(96, 76, 63, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u143 {
  position:absolute;
  left:16px;
  top:455px;
  width:57px;
  height:142px;
}
#u144 {
  position:absolute;
  left:2px;
  top:63px;
  width:53px;
  visibility:hidden;
  word-wrap:break-word;
}
#u145_div {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:92px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:2px -2px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:2px -2px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:2px -2px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'造字工房尚黑 G0v1 常规体 常规体', '造字工房尚黑 G0v1 常规体';
  font-weight:400;
  font-style:normal;
  font-size:9px;
  color:#40220F;
}
#u145 {
  position:absolute;
  left:43px;
  top:479px;
  width:156px;
  height:92px;
  opacity:0.6;
  font-family:'造字工房尚黑 G0v1 常规体 常规体', '造字工房尚黑 G0v1 常规体';
  font-weight:400;
  font-style:normal;
  font-size:9px;
  color:#40220F;
}
#u146 {
  position:absolute;
  left:2px;
  top:38px;
  width:152px;
  visibility:hidden;
  word-wrap:break-word;
}
#u147 {
  position:absolute;
  left:121px;
  top:8px;
  width:140px;
  height:18px;
}
#u147_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:18px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:9px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:center;
  border-color:transparent;
  outline-style:none;
}
#u148 {
  position:absolute;
  left:16px;
  top:238px;
  width:100px;
  height:63px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u149 {
  position:absolute;
  left:206px;
  top:453px;
  width:138px;
  height:144px;
  overflow:hidden;
}
#u149_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:144px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u149_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u150 {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:389px;
  overflow:hidden;
  touch-action:none;
}
#u150_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:389px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u150_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
.u152_div {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:97px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u152 {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:97px;
}
.u153 {
  position:absolute;
  left:2px;
  top:40px;
  width:134px;
  visibility:hidden;
  word-wrap:break-word;
}
.u154_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:48px;
}
.u154 {
  position:absolute;
  left:60px;
  top:0px;
  width:78px;
  height:48px;
}
.u155 {
  position:absolute;
  left:2px;
  top:16px;
  width:74px;
  visibility:hidden;
  word-wrap:break-word;
}
.u156_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:48px;
}
.u156 {
  position:absolute;
  left:0px;
  top:48px;
  width:78px;
  height:48px;
}
.u157 {
  position:absolute;
  left:2px;
  top:16px;
  width:74px;
  visibility:hidden;
  word-wrap:break-word;
}
.u158_div {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#B5B5B6;
  text-align:right;
}
.u158 {
  position:absolute;
  left:26px;
  top:9px;
  width:32px;
  height:15px;
  font-size:12px;
  color:#B5B5B6;
  text-align:right;
}
.u159 {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  white-space:nowrap;
}
.u160_div {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#B28247;
  text-align:right;
}
.u160 {
  position:absolute;
  left:13px;
  top:22px;
  width:47px;
  height:22px;
  font-size:18px;
  color:#B28247;
  text-align:right;
}
.u161 {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  white-space:nowrap;
}
.u162_div {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#B5B5B6;
  text-align:right;
}
.u162 {
  position:absolute;
  left:80px;
  top:58px;
  width:32px;
  height:15px;
  font-size:12px;
  color:#B5B5B6;
  text-align:right;
}
.u163 {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  white-space:nowrap;
}
.u164_div {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#B28247;
  text-align:right;
}
.u164 {
  position:absolute;
  left:66px;
  top:71px;
  width:47px;
  height:22px;
  font-size:18px;
  color:#B28247;
  text-align:right;
}
.u165 {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  white-space:nowrap;
}
#u151-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:97px;
}
#u151-2 {
  position:absolute;
  left:0px;
  top:97px;
  width:138px;
  height:97px;
}
#u151-3 {
  position:absolute;
  left:0px;
  top:194px;
  width:138px;
  height:97px;
}
#u151-4 {
  position:absolute;
  left:0px;
  top:291px;
  width:138px;
  height:97px;
}
#u151 {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:388px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u166 {
  position:absolute;
  left:130px;
  top:238px;
  width:100px;
  height:63px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u167 {
  position:absolute;
  left:243px;
  top:238px;
  width:100px;
  height:63px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u168 {
  position:absolute;
  left:16px;
  top:308px;
  width:327px;
  height:135px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u169 {
  position:absolute;
  left:30px;
  top:7px;
  width:41px;
  height:21px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u171_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:-5px -2px 3px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:-5px -2px 3px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:-5px -2px 3px rgba(0, 0, 0, 0.349019607843137);
}
#u171 {
  position:absolute;
  left:0px;
  top:601px;
  width:360px;
  height:39px;
}
#u172 {
  position:absolute;
  left:2px;
  top:12px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u173_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:17px;
}
#u173 {
  position:absolute;
  left:25px;
  top:605px;
  width:15px;
  height:17px;
}
#u174 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u175_div {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'造字工房尚黑 G0v1 常规体 常规体', '造字工房尚黑 G0v1 常规体';
  font-weight:400;
  font-style:normal;
  font-size:9px;
  color:#40220F;
}
#u175 {
  position:absolute;
  left:21px;
  top:619px;
  width:23px;
  height:16px;
  font-family:'造字工房尚黑 G0v1 常规体 常规体', '造字工房尚黑 G0v1 常规体';
  font-weight:400;
  font-style:normal;
  font-size:9px;
  color:#40220F;
}
#u176 {
  position:absolute;
  left:2px;
  top:2px;
  width:19px;
  white-space:nowrap;
}
#u177_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:15px;
}
#u177 {
  position:absolute;
  left:90px;
  top:607px;
  width:18px;
  height:15px;
}
#u178 {
  position:absolute;
  left:2px;
  top:0px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u179_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:15px;
}
#u179 {
  position:absolute;
  left:247px;
  top:607px;
  width:20px;
  height:15px;
}
#u180 {
  position:absolute;
  left:2px;
  top:0px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u181_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:15px;
}
#u181 {
  position:absolute;
  left:324px;
  top:607px;
  width:10px;
  height:15px;
}
#u182 {
  position:absolute;
  left:2px;
  top:0px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u183_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u183 {
  position:absolute;
  left:161px;
  top:598px;
  width:48px;
  height:48px;
}
#u184 {
  position:absolute;
  left:2px;
  top:16px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u185_div {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'造字工房尚黑 G0v1 常规体 常规体', '造字工房尚黑 G0v1 常规体';
  font-weight:400;
  font-style:normal;
  font-size:9px;
  color:#40220F;
}
#u185 {
  position:absolute;
  left:88px;
  top:621px;
  width:23px;
  height:16px;
  font-family:'造字工房尚黑 G0v1 常规体 常规体', '造字工房尚黑 G0v1 常规体';
  font-weight:400;
  font-style:normal;
  font-size:9px;
  color:#40220F;
}
#u186 {
  position:absolute;
  left:2px;
  top:2px;
  width:19px;
  white-space:nowrap;
}
#u187_div {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'造字工房尚黑 G0v1 常规体 常规体', '造字工房尚黑 G0v1 常规体';
  font-weight:400;
  font-style:normal;
  font-size:9px;
  color:#40220F;
}
#u187 {
  position:absolute;
  left:244px;
  top:621px;
  width:32px;
  height:16px;
  font-family:'造字工房尚黑 G0v1 常规体 常规体', '造字工房尚黑 G0v1 常规体';
  font-weight:400;
  font-style:normal;
  font-size:9px;
  color:#40220F;
}
#u188 {
  position:absolute;
  left:2px;
  top:2px;
  width:28px;
  white-space:nowrap;
}
#u189_div {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'造字工房尚黑 G0v1 常规体 常规体', '造字工房尚黑 G0v1 常规体';
  font-weight:400;
  font-style:normal;
  font-size:9px;
  color:#40220F;
}
#u189 {
  position:absolute;
  left:318px;
  top:621px;
  width:23px;
  height:16px;
  font-family:'造字工房尚黑 G0v1 常规体 常规体', '造字工房尚黑 G0v1 常规体';
  font-weight:400;
  font-style:normal;
  font-size:9px;
  color:#40220F;
}
#u190 {
  position:absolute;
  left:2px;
  top:2px;
  width:19px;
  white-space:nowrap;
}
#u191_img {
  position:absolute;
  left:-5px;
  top:-7px;
  width:54px;
  height:29px;
}
#u191 {
  position:absolute;
  left:165px;
  top:613px;
  width:44px;
  height:19px;
  font-family:'造字工房尚黑 G0v1 常规体 常规体', '造字工房尚黑 G0v1 常规体';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u192 {
  position:absolute;
  left:2px;
  top:2px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u193 {
  position:absolute;
  left:21px;
  top:605px;
  width:23px;
  height:29px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u194 {
  position:absolute;
  left:88px;
  top:605px;
  width:23px;
  height:29px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u195 {
  position:absolute;
  left:165px;
  top:605px;
  width:44px;
  height:31px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u196 {
  position:absolute;
  left:246px;
  top:605px;
  width:26px;
  height:29px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u197 {
  position:absolute;
  left:319px;
  top:607px;
  width:19px;
  height:29px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u198_div {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:84px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'造字工房尚黑 G0v1 常规体 常规体', '造字工房尚黑 G0v1 常规体';
  font-weight:400;
  font-style:normal;
  font-size:9px;
  color:#40220F;
}
#u198 {
  position:absolute;
  left:55px;
  top:485px;
  width:136px;
  height:84px;
  font-family:'造字工房尚黑 G0v1 常规体 常规体', '造字工房尚黑 G0v1 常规体';
  font-weight:400;
  font-style:normal;
  font-size:9px;
  color:#40220F;
}
#u199 {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  word-wrap:break-word;
}
