body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:360px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u911_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u911 {
  position:absolute;
  left:0px;
  top:-13px;
  width:360px;
  height:640px;
}
#u912 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u913_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:71px;
}
#u913 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:71px;
}
#u914 {
  position:absolute;
  left:2px;
  top:28px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u915_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:530px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u915 {
  position:absolute;
  left:0px;
  top:71px;
  width:360px;
  height:530px;
  opacity:0.5;
}
#u916 {
  position:absolute;
  left:2px;
  top:257px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u917_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:94px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u917 {
  position:absolute;
  left:0px;
  top:71px;
  width:360px;
  height:94px;
  opacity:0.5;
}
#u918 {
  position:absolute;
  left:2px;
  top:39px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u919_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u919 {
  position:absolute;
  left:146px;
  top:41px;
  width:60px;
  height:60px;
}
#u920 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u921_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#40220F;
}
#u921 {
  position:absolute;
  left:148px;
  top:106px;
  width:57px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#40220F;
}
#u922 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u923_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#40220F;
}
#u923 {
  position:absolute;
  left:134px;
  top:136px;
  width:91px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#40220F;
}
#u924 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u925_div {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:79px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u925 {
  position:absolute;
  left:0px;
  top:195px;
  width:112px;
  height:79px;
  opacity:0.5;
}
#u926 {
  position:absolute;
  left:2px;
  top:32px;
  width:108px;
  visibility:hidden;
  word-wrap:break-word;
}
#u927_div {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:79px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u927 {
  position:absolute;
  left:124px;
  top:195px;
  width:112px;
  height:79px;
  opacity:0.5;
}
#u928 {
  position:absolute;
  left:2px;
  top:32px;
  width:108px;
  visibility:hidden;
  word-wrap:break-word;
}
#u929_div {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:79px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u929 {
  position:absolute;
  left:248px;
  top:195px;
  width:112px;
  height:79px;
  opacity:0.5;
}
#u930 {
  position:absolute;
  left:2px;
  top:32px;
  width:108px;
  visibility:hidden;
  word-wrap:break-word;
}
#u931_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:24px;
}
#u931 {
  position:absolute;
  left:42px;
  top:216px;
  width:25px;
  height:24px;
}
#u932 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u933_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#40220F;
}
#u933 {
  position:absolute;
  left:25px;
  top:246px;
  width:57px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#40220F;
}
#u934 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u935_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:33px;
}
#u935 {
  position:absolute;
  left:143px;
  top:212px;
  width:74px;
  height:33px;
}
#u936 {
  position:absolute;
  left:2px;
  top:8px;
  width:70px;
  visibility:hidden;
  word-wrap:break-word;
}
#u937_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#40220F;
}
#u937 {
  position:absolute;
  left:166px;
  top:246px;
  width:29px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#40220F;
}
#u938 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u939_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:35px;
}
#u939 {
  position:absolute;
  left:266px;
  top:211px;
  width:77px;
  height:35px;
}
#u940 {
  position:absolute;
  left:2px;
  top:10px;
  width:73px;
  visibility:hidden;
  word-wrap:break-word;
}
#u941_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#40220F;
}
#u941 {
  position:absolute;
  left:285px;
  top:246px;
  width:43px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#40220F;
}
#u942 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u943_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:94px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u943 {
  position:absolute;
  left:0px;
  top:300px;
  width:360px;
  height:94px;
  opacity:0.5;
}
#u944 {
  position:absolute;
  left:2px;
  top:39px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u945_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:94px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u945 {
  position:absolute;
  left:0px;
  top:400px;
  width:360px;
  height:94px;
  opacity:0.5;
}
#u946 {
  position:absolute;
  left:2px;
  top:39px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u947_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:34px;
}
#u947 {
  position:absolute;
  left:16px;
  top:325px;
  width:75px;
  height:34px;
}
#u948 {
  position:absolute;
  left:2px;
  top:9px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u949_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#40220F;
}
#u949 {
  position:absolute;
  left:38px;
  top:360px;
  width:29px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#40220F;
}
#u950 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u951_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:37px;
}
#u951 {
  position:absolute;
  left:140px;
  top:323px;
  width:81px;
  height:37px;
}
#u952 {
  position:absolute;
  left:2px;
  top:10px;
  width:77px;
  visibility:hidden;
  word-wrap:break-word;
}
#u953_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#40220F;
}
#u953 {
  position:absolute;
  left:166px;
  top:360px;
  width:29px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#40220F;
}
#u954 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u955_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:35px;
}
#u955 {
  position:absolute;
  left:268px;
  top:324px;
  width:77px;
  height:35px;
}
#u956 {
  position:absolute;
  left:2px;
  top:10px;
  width:73px;
  visibility:hidden;
  word-wrap:break-word;
}
#u957_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#40220F;
}
#u957 {
  position:absolute;
  left:292px;
  top:360px;
  width:29px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#40220F;
}
#u958 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u959_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:33px;
}
#u959 {
  position:absolute;
  left:16px;
  top:421px;
  width:74px;
  height:33px;
}
#u960 {
  position:absolute;
  left:2px;
  top:8px;
  width:70px;
  visibility:hidden;
  word-wrap:break-word;
}
#u961_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#40220F;
}
#u961 {
  position:absolute;
  left:27px;
  top:456px;
  width:57px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#40220F;
}
#u962 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u963_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:33px;
}
#u963 {
  position:absolute;
  left:143px;
  top:421px;
  width:74px;
  height:33px;
}
#u964 {
  position:absolute;
  left:2px;
  top:8px;
  width:70px;
  visibility:hidden;
  word-wrap:break-word;
}
#u965_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#40220F;
}
#u965 {
  position:absolute;
  left:152px;
  top:456px;
  width:57px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#40220F;
}
#u966 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u967_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:32px;
}
#u967 {
  position:absolute;
  left:272px;
  top:421px;
  width:70px;
  height:32px;
}
#u968 {
  position:absolute;
  left:2px;
  top:8px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u969_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#40220F;
}
#u969 {
  position:absolute;
  left:278px;
  top:456px;
  width:57px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#40220F;
}
#u970 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u971_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:82px;
}
#u971 {
  position:absolute;
  left:272px;
  top:494px;
  width:82px;
  height:82px;
}
#u972 {
  position:absolute;
  left:2px;
  top:33px;
  width:78px;
  visibility:hidden;
  word-wrap:break-word;
}
#u974_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:-5px -2px 3px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:-5px -2px 3px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:-5px -2px 3px rgba(0, 0, 0, 0.349019607843137);
}
#u974 {
  position:absolute;
  left:0px;
  top:601px;
  width:360px;
  height:39px;
}
#u975 {
  position:absolute;
  left:2px;
  top:12px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u976_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:17px;
}
#u976 {
  position:absolute;
  left:25px;
  top:605px;
  width:15px;
  height:17px;
}
#u977 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u978_div {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'造字工房尚黑 G0v1 常规体 常规体', '造字工房尚黑 G0v1 常规体';
  font-weight:400;
  font-style:normal;
  font-size:9px;
  color:#40220F;
}
#u978 {
  position:absolute;
  left:21px;
  top:619px;
  width:23px;
  height:16px;
  font-family:'造字工房尚黑 G0v1 常规体 常规体', '造字工房尚黑 G0v1 常规体';
  font-weight:400;
  font-style:normal;
  font-size:9px;
  color:#40220F;
}
#u979 {
  position:absolute;
  left:2px;
  top:2px;
  width:19px;
  white-space:nowrap;
}
#u980_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:15px;
}
#u980 {
  position:absolute;
  left:90px;
  top:607px;
  width:18px;
  height:15px;
}
#u981 {
  position:absolute;
  left:2px;
  top:0px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u982_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:15px;
}
#u982 {
  position:absolute;
  left:247px;
  top:607px;
  width:20px;
  height:15px;
}
#u983 {
  position:absolute;
  left:2px;
  top:0px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u984_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:15px;
}
#u984 {
  position:absolute;
  left:324px;
  top:607px;
  width:10px;
  height:15px;
}
#u985 {
  position:absolute;
  left:2px;
  top:0px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u986_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u986 {
  position:absolute;
  left:161px;
  top:598px;
  width:48px;
  height:48px;
}
#u987 {
  position:absolute;
  left:2px;
  top:16px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u988_div {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'造字工房尚黑 G0v1 常规体 常规体', '造字工房尚黑 G0v1 常规体';
  font-weight:400;
  font-style:normal;
  font-size:9px;
  color:#40220F;
}
#u988 {
  position:absolute;
  left:88px;
  top:621px;
  width:23px;
  height:16px;
  font-family:'造字工房尚黑 G0v1 常规体 常规体', '造字工房尚黑 G0v1 常规体';
  font-weight:400;
  font-style:normal;
  font-size:9px;
  color:#40220F;
}
#u989 {
  position:absolute;
  left:2px;
  top:2px;
  width:19px;
  white-space:nowrap;
}
#u990_div {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'造字工房尚黑 G0v1 常规体 常规体', '造字工房尚黑 G0v1 常规体';
  font-weight:400;
  font-style:normal;
  font-size:9px;
  color:#40220F;
}
#u990 {
  position:absolute;
  left:244px;
  top:621px;
  width:32px;
  height:16px;
  font-family:'造字工房尚黑 G0v1 常规体 常规体', '造字工房尚黑 G0v1 常规体';
  font-weight:400;
  font-style:normal;
  font-size:9px;
  color:#40220F;
}
#u991 {
  position:absolute;
  left:2px;
  top:2px;
  width:28px;
  white-space:nowrap;
}
#u992_div {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'造字工房尚黑 G0v1 常规体 常规体', '造字工房尚黑 G0v1 常规体';
  font-weight:400;
  font-style:normal;
  font-size:9px;
  color:#40220F;
}
#u992 {
  position:absolute;
  left:318px;
  top:621px;
  width:23px;
  height:16px;
  font-family:'造字工房尚黑 G0v1 常规体 常规体', '造字工房尚黑 G0v1 常规体';
  font-weight:400;
  font-style:normal;
  font-size:9px;
  color:#40220F;
}
#u993 {
  position:absolute;
  left:2px;
  top:2px;
  width:19px;
  white-space:nowrap;
}
#u994_img {
  position:absolute;
  left:-5px;
  top:-7px;
  width:54px;
  height:29px;
}
#u994 {
  position:absolute;
  left:165px;
  top:613px;
  width:44px;
  height:19px;
  font-family:'造字工房尚黑 G0v1 常规体 常规体', '造字工房尚黑 G0v1 常规体';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u995 {
  position:absolute;
  left:2px;
  top:2px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u996 {
  position:absolute;
  left:21px;
  top:605px;
  width:23px;
  height:29px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u997 {
  position:absolute;
  left:88px;
  top:605px;
  width:23px;
  height:29px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u998 {
  position:absolute;
  left:165px;
  top:605px;
  width:44px;
  height:31px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u999 {
  position:absolute;
  left:246px;
  top:605px;
  width:26px;
  height:29px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1000 {
  position:absolute;
  left:319px;
  top:607px;
  width:19px;
  height:29px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
