body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:360px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u816_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(119, 119, 119, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u816 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u817 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u818_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u818 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u819 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u820_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:-5px -2px 3px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:-5px -2px 3px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:-5px -2px 3px rgba(0, 0, 0, 0.349019607843137);
}
#u820 {
  position:absolute;
  left:0px;
  top:601px;
  width:360px;
  height:39px;
}
#u821 {
  position:absolute;
  left:2px;
  top:12px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u822_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:17px;
}
#u822 {
  position:absolute;
  left:25px;
  top:605px;
  width:15px;
  height:17px;
}
#u823 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u824_div {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'造字工房尚黑 G0v1 常规体 常规体', '造字工房尚黑 G0v1 常规体';
  font-weight:400;
  font-style:normal;
  font-size:9px;
  color:#40220F;
}
#u824 {
  position:absolute;
  left:21px;
  top:619px;
  width:23px;
  height:16px;
  font-family:'造字工房尚黑 G0v1 常规体 常规体', '造字工房尚黑 G0v1 常规体';
  font-weight:400;
  font-style:normal;
  font-size:9px;
  color:#40220F;
}
#u825 {
  position:absolute;
  left:2px;
  top:2px;
  width:19px;
  white-space:nowrap;
}
#u826_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:15px;
}
#u826 {
  position:absolute;
  left:90px;
  top:607px;
  width:18px;
  height:15px;
}
#u827 {
  position:absolute;
  left:2px;
  top:0px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u828_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:15px;
}
#u828 {
  position:absolute;
  left:230px;
  top:607px;
  width:20px;
  height:15px;
}
#u829 {
  position:absolute;
  left:2px;
  top:0px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u830_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:15px;
}
#u830 {
  position:absolute;
  left:324px;
  top:607px;
  width:10px;
  height:15px;
}
#u831 {
  position:absolute;
  left:2px;
  top:0px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u832_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u832 {
  position:absolute;
  left:148px;
  top:598px;
  width:48px;
  height:48px;
}
#u833 {
  position:absolute;
  left:2px;
  top:16px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u834_div {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'造字工房尚黑 G0v1 常规体 常规体', '造字工房尚黑 G0v1 常规体';
  font-weight:400;
  font-style:normal;
  font-size:9px;
  color:#40220F;
}
#u834 {
  position:absolute;
  left:88px;
  top:621px;
  width:23px;
  height:16px;
  font-family:'造字工房尚黑 G0v1 常规体 常规体', '造字工房尚黑 G0v1 常规体';
  font-weight:400;
  font-style:normal;
  font-size:9px;
  color:#40220F;
}
#u835 {
  position:absolute;
  left:2px;
  top:2px;
  width:19px;
  white-space:nowrap;
}
#u836_div {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'造字工房尚黑 G0v1 常规体 常规体', '造字工房尚黑 G0v1 常规体';
  font-weight:400;
  font-style:normal;
  font-size:9px;
  color:#40220F;
}
#u836 {
  position:absolute;
  left:227px;
  top:621px;
  width:32px;
  height:16px;
  font-family:'造字工房尚黑 G0v1 常规体 常规体', '造字工房尚黑 G0v1 常规体';
  font-weight:400;
  font-style:normal;
  font-size:9px;
  color:#40220F;
}
#u837 {
  position:absolute;
  left:2px;
  top:2px;
  width:28px;
  white-space:nowrap;
}
#u838_div {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'造字工房尚黑 G0v1 常规体 常规体', '造字工房尚黑 G0v1 常规体';
  font-weight:400;
  font-style:normal;
  font-size:9px;
  color:#40220F;
}
#u838 {
  position:absolute;
  left:318px;
  top:621px;
  width:23px;
  height:16px;
  font-family:'造字工房尚黑 G0v1 常规体 常规体', '造字工房尚黑 G0v1 常规体';
  font-weight:400;
  font-style:normal;
  font-size:9px;
  color:#40220F;
}
#u839 {
  position:absolute;
  left:2px;
  top:2px;
  width:19px;
  white-space:nowrap;
}
#u840_img {
  position:absolute;
  left:-5px;
  top:-7px;
  width:54px;
  height:29px;
}
#u840 {
  position:absolute;
  left:152px;
  top:613px;
  width:44px;
  height:19px;
  font-family:'造字工房尚黑 G0v1 常规体 常规体', '造字工房尚黑 G0v1 常规体';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u841 {
  position:absolute;
  left:2px;
  top:2px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u842 {
  position:absolute;
  left:21px;
  top:605px;
  width:23px;
  height:29px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u843 {
  position:absolute;
  left:88px;
  top:605px;
  width:23px;
  height:29px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u844 {
  position:absolute;
  left:152px;
  top:605px;
  width:44px;
  height:31px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u845 {
  position:absolute;
  left:230px;
  top:607px;
  width:26px;
  height:29px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u846 {
  position:absolute;
  left:319px;
  top:607px;
  width:19px;
  height:29px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u847_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:71px;
}
#u847 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:71px;
}
#u848 {
  position:absolute;
  left:2px;
  top:28px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u849_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:530px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u849 {
  position:absolute;
  left:0px;
  top:71px;
  width:360px;
  height:530px;
  opacity:0.5;
}
#u850 {
  position:absolute;
  left:2px;
  top:257px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u851_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:94px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u851 {
  position:absolute;
  left:0px;
  top:81px;
  width:360px;
  height:94px;
  opacity:0.5;
}
#u852 {
  position:absolute;
  left:2px;
  top:39px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u853_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u853 {
  position:absolute;
  left:146px;
  top:41px;
  width:60px;
  height:60px;
}
#u854 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u855_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#40220F;
}
#u855 {
  position:absolute;
  left:148px;
  top:111px;
  width:57px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#40220F;
}
#u856 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u857_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#40220F;
}
#u857 {
  position:absolute;
  left:134px;
  top:141px;
  width:91px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#40220F;
}
#u858 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u859_div {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:79px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u859 {
  position:absolute;
  left:0px;
  top:195px;
  width:112px;
  height:79px;
  opacity:0.5;
}
#u860 {
  position:absolute;
  left:2px;
  top:32px;
  width:108px;
  visibility:hidden;
  word-wrap:break-word;
}
#u861_div {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:79px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u861 {
  position:absolute;
  left:124px;
  top:195px;
  width:112px;
  height:79px;
  opacity:0.5;
}
#u862 {
  position:absolute;
  left:2px;
  top:32px;
  width:108px;
  visibility:hidden;
  word-wrap:break-word;
}
#u863_div {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:79px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u863 {
  position:absolute;
  left:248px;
  top:195px;
  width:112px;
  height:79px;
  opacity:0.5;
}
#u864 {
  position:absolute;
  left:2px;
  top:32px;
  width:108px;
  visibility:hidden;
  word-wrap:break-word;
}
#u865_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:24px;
}
#u865 {
  position:absolute;
  left:42px;
  top:216px;
  width:25px;
  height:24px;
}
#u866 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u867_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#40220F;
}
#u867 {
  position:absolute;
  left:25px;
  top:246px;
  width:57px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#40220F;
}
#u868 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u869_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:33px;
}
#u869 {
  position:absolute;
  left:143px;
  top:212px;
  width:74px;
  height:33px;
}
#u870 {
  position:absolute;
  left:2px;
  top:8px;
  width:70px;
  visibility:hidden;
  word-wrap:break-word;
}
#u871_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#40220F;
}
#u871 {
  position:absolute;
  left:166px;
  top:246px;
  width:29px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#40220F;
}
#u872 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u873_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:35px;
}
#u873 {
  position:absolute;
  left:266px;
  top:211px;
  width:77px;
  height:35px;
}
#u874 {
  position:absolute;
  left:2px;
  top:10px;
  width:73px;
  visibility:hidden;
  word-wrap:break-word;
}
#u875_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#40220F;
}
#u875 {
  position:absolute;
  left:285px;
  top:246px;
  width:43px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#40220F;
}
#u876 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u877_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:94px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u877 {
  position:absolute;
  left:0px;
  top:300px;
  width:360px;
  height:94px;
  opacity:0.5;
}
#u878 {
  position:absolute;
  left:2px;
  top:39px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u879_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:94px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u879 {
  position:absolute;
  left:0px;
  top:400px;
  width:360px;
  height:94px;
  opacity:0.5;
}
#u880 {
  position:absolute;
  left:2px;
  top:39px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u881_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:34px;
}
#u881 {
  position:absolute;
  left:16px;
  top:325px;
  width:75px;
  height:34px;
}
#u882 {
  position:absolute;
  left:2px;
  top:9px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u883_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#40220F;
}
#u883 {
  position:absolute;
  left:38px;
  top:360px;
  width:29px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#40220F;
}
#u884 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u885_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:37px;
}
#u885 {
  position:absolute;
  left:140px;
  top:323px;
  width:81px;
  height:37px;
}
#u886 {
  position:absolute;
  left:2px;
  top:10px;
  width:77px;
  visibility:hidden;
  word-wrap:break-word;
}
#u887_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#40220F;
}
#u887 {
  position:absolute;
  left:166px;
  top:360px;
  width:29px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#40220F;
}
#u888 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u889_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:35px;
}
#u889 {
  position:absolute;
  left:268px;
  top:324px;
  width:77px;
  height:35px;
}
#u890 {
  position:absolute;
  left:2px;
  top:10px;
  width:73px;
  visibility:hidden;
  word-wrap:break-word;
}
#u891_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#40220F;
}
#u891 {
  position:absolute;
  left:292px;
  top:360px;
  width:29px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#40220F;
}
#u892 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u893_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:33px;
}
#u893 {
  position:absolute;
  left:16px;
  top:421px;
  width:74px;
  height:33px;
}
#u894 {
  position:absolute;
  left:2px;
  top:8px;
  width:70px;
  visibility:hidden;
  word-wrap:break-word;
}
#u895_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#40220F;
}
#u895 {
  position:absolute;
  left:27px;
  top:456px;
  width:57px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#40220F;
}
#u896 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u897_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:33px;
}
#u897 {
  position:absolute;
  left:143px;
  top:421px;
  width:74px;
  height:33px;
}
#u898 {
  position:absolute;
  left:2px;
  top:8px;
  width:70px;
  visibility:hidden;
  word-wrap:break-word;
}
#u899_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#40220F;
}
#u899 {
  position:absolute;
  left:152px;
  top:456px;
  width:57px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#40220F;
}
#u900 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u901_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:32px;
}
#u901 {
  position:absolute;
  left:272px;
  top:421px;
  width:70px;
  height:32px;
}
#u902 {
  position:absolute;
  left:2px;
  top:8px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u903_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#40220F;
}
#u903 {
  position:absolute;
  left:278px;
  top:456px;
  width:57px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#40220F;
}
#u904 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u905_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:82px;
}
#u905 {
  position:absolute;
  left:272px;
  top:494px;
  width:82px;
  height:82px;
}
#u906 {
  position:absolute;
  left:2px;
  top:33px;
  width:78px;
  visibility:hidden;
  word-wrap:break-word;
}
